.Album {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
  display: flex;
  background-color: #f5f5f5;
}

.Album img {
  object-fit: cover;
  display: block;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border: 1px solid #777;
}

.Album h4 {
  position: relative;
}

.Album h4, .Album p {
  margin: 0;
}

.Album div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}