.AddForm label {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

.AddForm input,
.AddForm select,
.AddForm textarea {
  width: calc(100% - 100px);
}

.AddForm textarea {
  resize: vertical;
}

.AddForm input[type='text'],
.AddForm input[type='password'],
.AddForm textarea,
.AddForm select {
  margin-bottom: 10px;
  padding: 5px;
}

.AddForm input[type='file'] {
  margin-bottom: 10px;
}

.AddForm button {
  padding: 5px 12px;
  margin-left: 100px;
}