.FacebookLogin {
  display: inline-block;
  padding: 3px 7px;
  border: 1px solid;
  border-color: #29447e #29447e #1a356e;
  background-color: #5B74A8;
  color: #fff;
  margin: 0;
  text-decoration: none;
  text-align: center;
  font: bold 11px/normal 'lucida grande', tahoma, verdana, arial, sans-serif;
  white-space: nowrap;
  cursor: pointer;
}

.FacebookLogin:active {
  border-color: #29447E;
  background: #4F6AA3;
  filter: none;
  box-shadow: none;
}