.DeleteBtn {
  display: inline-block !important;
  margin-left: 10px;
  text-align: center;
  background-color: #999;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: normal !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
}