.Tracks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Tracks-modal {
  padding: 0;
}

.Tracks-modal > div > iframe {
  display: block;
}

.Tracks-modalBtn {
  display: none;
}