.PublishedStatus {
  display: inline-block !important;
  margin-left: 10px;
  text-align: center;
  background-color: #7d7;
  padding: 4px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: normal !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.PublishedStatus.unpublished {
  background-color: #d77;
}

.PublishedStatus.hidden {
  display: none !important;
}