.Header {
  padding: 0 15px;
  margin: 0 -15px;
  height: 48px;
  border-bottom: 2px solid #777;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-logo {
  text-decoration: none;
  color: #000;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.Header nav {
  text-align: right;
}

.Header nav > a {
  text-decoration: none;
  color: #000;
  padding: 3px 5px;
  position: relative;
}

.Header nav > a.active {
  text-shadow: 0 0 3px rgba(75, 75, 75, 0.75);
}

.Header-userWrapper {
  height: 100%;
  display: flex;
}

.Header-userWrapper img {
  width: 40px;
  height: 40px;
  margin: 3px;
  padding: 2px;
  border: 1px solid #777;
  background-color: #fff;
}

.Header-user {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 3px 15px 3px 5px;
  font-size: 16px;
  /*margin-left: 5px;*/
  position: relative;
}

.Header-user::after {
  content: "";
  display: inline-block;
  border: solid #000;
  border-width: 0 2px 2px 0;
  padding: 2px;
  position: absolute;
  right: 0;
}

.Header-user.arrowUp::after {
  top: 50%;
  transform: translateY(-50%) rotate(-135deg);
}

.Header-user.arrowDown::after {
  top: 40%;
  transform: translateY(-50%) rotate(45deg);
}

.Header-dropDown {
  position: absolute;
  top: 48px;
  right: 0;
  padding: 5px 0;
  border: solid #777;
  border-width: 0 0 2px 2px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

.Header-dropDown a {
  text-decoration: none;
  color: #000;
  padding: 5px 15px;
  font-size: 14px;
}