.Track {
  margin-bottom: 5px;
  position: relative;
}

.Track.loggedIn {
  cursor: pointer;
}

.Track.loggedIn:hover {
  font-weight: bold;
}

.Track span {
  margin-right: 5px;
}

.Track-youtubeBtn {
  width: 25px;
  height: 18px;
  margin: 0 auto;
  background: #DC4539;
  position: relative;
  border: none;
  border-radius: 3px 3px 3px 3px / 11px 11px 11px 11px;
  font-size: 0;
  vertical-align: top;
  cursor: pointer;
}

.Track-youtubeBtn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -4px;
  border-left: 7px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}