.TrackHistory > div span {
  margin: 0 5px 5px 0;
}

.TrackHistory .dateTime {
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  display: inline-block;
}

.TrackHistory-error {
  opacity: 0.5;
}